.background-login {

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    // FF724C

}

.btn-primary {
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.btn-primary:hover {
    background-color: #af35c5;
}