<div class="page-header no-gutters">
    <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
            <div class="avatar avatar-image avatar-lg">
                <img [src]="merchant.picture" alt="Picture_merchant">
            </div>
            <div class="media-body m-l-15">
                <h4 class="m-b-0">{{merchant.merchant_name}}</h4>
                <span class="text-gray">{{merchant.full_address}}</span> <br>
                <span class="text-gray">
                    <label for="radio1">★</label>
                    <label for="radio2">★</label>
                    <label for="radio3">★</label>
                    <label for="radio4">★</label>
                    <label for="radio5">★</label>
                  {{merchant.reputation}}
                </span>
            </div>
        </div>
    </div>
</div>