<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Comercios</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-md-12">
            <agm-map *ngIf="userCoordinate; else elseMap" [latitude]="userCoordinate.latitude" [longitude]="userCoordinate.longitude" [zoom]="12">
                <ng-container *ngIf="merchants">
                    <agm-marker *ngFor="let merchant of merchants" [latitude]="merchant.point.coordinates[1]" [longitude]="merchant.point.coordinates[0]">
                        <agm-info-window [disableAutoPan]="true">
                            {{merchant.merchant_name}}
                        </agm-info-window>
                    </agm-marker>
                </ng-container>
            </agm-map>
            <ng-template #elseMap>
                <div class="col-xl-12 col-md-12 d-sm-flex align-items-center justify-content-center">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
        
    </div>

</div>
<!-- Container-fluid -->