@import '../../variables.scss';

.col-info {
    .info {
        display: flex;
        flex-direction: column;
        background: $main-color;
        padding: 30px;

        .title{
            color: white;
            font-size: 130%;
            font-weight: bold;
        }

        .data {
            color: white;
            font-size: 120%;
        }

    }

    .info-2 {
        background: #2c75e2;
    }
    .info-3 {
        background: #4c4c4d;
    }
}