

    <!-- Picker  -->
    <div class="row">
        <!-- AQUI VA EN MONT PICKER  -->
    </div>
    <!-- RESUMEN  -->
    <div class="row">
        <!-- DIV INFO  -->
        <div class="col-md-4 col-info">
            <div class="info">
                <span class="title">
                    Número de ventas
                </span>
    
                <span class="data">
                    {{dataSummary.total_orders}}
                </span>
            </div>

        </div>
        <!-- DIV INFO  -->
        <div class="col-md-4 col-info">
            <div class="info info-2">
                <span class="title">
                    Ganancias
                </span>
    
                <span class="data">
                    ${{dataSummary.profits}}
                </span>
            </div>

        </div>
        <!-- DIV INFO  -->
        <div class="col-md-4 col-info">
            <div class="info info-3">
                <span class="title">
                    Comisión a pagar
                </span>
    
                <span class="data">
                    ${{dataSummary.total_commissions}}
                </span>
            </div>

        </div>
    </div>
