<div class="page-header no-gutters has-tab">
    <h2 class="font-weight-normal">
        {{id ? 'Editar': 'Agregar'}} categoría avanzada
    </h2>
    <span class="link">Ver tutorial</span>

</div>
<div class="container-fluid">
    <div class="spinner-grow" role="status" *ngIf="loadingCategory">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="row justify-content-center" *ngIf="!loadingCategory">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-2 p-5">

                <nz-steps nzType="default" nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
                    <nz-step nzTitle="General" nzDescription="Información general" [nzStatus]="getStatusStep(0)"
                        nzIcon="user">
                    </nz-step>
                    <nz-step nzTitle="Subcategorías" nzDescription="Subcategorias" [nzStatus]="getStatusStep(1)"
                        [nzIcon]="iconTemplate"></nz-step>
                    <nz-step nzTitle="Confirmación" [nzStatus]="getStatusStep(2)" nzIcon="solution"></nz-step>
                    <ng-template #iconTemplate><i nz-icon nzType="ordered-list"></i></ng-template>
                </nz-steps>

                <!-- STEP ONE  -->
                <div class="step d-flex justify-content-center flex-column align-items-center" *ngIf="index == 0">
                    <p class="text-center">Agrega la información general de la categoría como nombre
                        e imagen </p>
                    <div [formGroup]="group" class="col-lg-6 d-flex flex-column align-items-center border p-3">
                        <div class="form-group w-100">
                            <label class="lb-input" for="">Nombre de la categoría</label>
                            <input formControlName="name"
                                [ngClass]="{'is-invalid': isFieldInvalid('name'), 'is-valid': isFieldValid('name')}"
                                type="text" class="form-control w-100" placeholder="Ingresa el nombre de la categoría">
                            <!-- MESSAGES ERRORS  -->
                            <div class="invalid-feedback">
                                <span *ngIf="hasFieldError('name','required')">Nombre de la categoría es
                                    necesaria.</span>
                            </div>

                        </div>
                        <p>Agrega una imagen(opcional)</p>
                        <div class="img">
                            <div class="images d-flex justify-content-center">
                                <img *ngIf="imageURL" class="img-custom" [src]="imageURL" alt="category_picture">
                                <img *ngIf="!imageURL" class="img-custom" src="assets/images/common/no-image.png"
                                    alt="">
                            </div>
                        </div>

                        <div class="button-select-image mt-2">
                            <input (change)="handlePickUpImage($event)" #myInput type="file" name="file" id="file"
                                class="inputfile inputfile-1" />
                            <!--     <label for="file">
                                <span>Seleccionar imagen</span>
                            </label> -->
                        </div>

                    </div>
                </div>

                <!-- STEP ONE 2 -->
                <div class="step d-flex justify-content-center flex-column align-items-center" *ngIf="index == 1">
                    <p class="text-center">Agrega las subcategorías de la sección</p>
                    <div class="col-lg-6 d-flex align-items-center flex-column border col-list">
                        <span style="font-size: 90%;" class="my-5" *ngIf="subcatoryList.length == 0">Agrega una
                            subcategoría</span>
                        <mat-selection-list (selectionChange)="selectSubcategory($event)" class="w-100" #subcategories
                            [multiple]="false">
                            <mat-list-option class="d-flex" *ngFor="let subcategory of subcatoryList; let i = index"
                                [value]="i">
                                <span class="w-100 d-flex justify-content-between">
                                    {{subcategory.name}}
                                    <div>
                                        <i (click)="deleteSubcategory(i)" class="fas fa-trash ml-5"></i>
                                        <i (click)="openDialogSubcategory(subcategory, i)" class="far fa-edit mx-3"></i>
                                    </div>
                                </span>

                            </mat-list-option>
                        </mat-selection-list>
                        <button (click)="openDialogSubcategory()"
                            class="btn btn btn-warning btn-sm mt-3 w-50 fix">Añadir
                            <i class="fas fa-plus"></i></button>
                    </div>
                </div>

                <!-- STEP 3 -->
                <div class="step d-flex justify-content-center flex-column align-items-center" *ngIf="index == 2">
                    <p class="text-center">Confirma los datos agregados</p>
                    <div class="col-lg-6 d-flex flex-column">
                        Nombre de la categoría: {{getValue('name')}}
                        <span class="ml-1">Subcategorías:</span>
                        <ul>
                            <li *ngFor="let subcat of subcatoryList">{{subcat.name}}</li>
                        </ul>
                    </div>
                </div>

                <div class="row d-flex justify-content-between px-5">
                    <button *ngIf="index > 0" (click)="previousStep()" class="btn btn-sm btn-danger">Atras</button>
                    <div></div>
                    <button *ngIf="index < 2" (click)="nextStep()" class="btn btn-sm btn-success">Siguiente</button>
                    <button *ngIf="index == 2" (click)="saveData()" class="btn btn-sm btn-info">Guardar</button>
                </div>
            </div>
        </div>

    </div>

</div>