<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-flex-start mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{id ? 'Editar': 'Agregar'}} categoria avanzada</h1>
    </div>

    <div class="spinner-grow" role="status" *ngIf="loadingCategory">
        <span class="sr-only">Loading...</span>
      </div>


    <div class="row justify-content-center" *ngIf="!loadingCategory">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-2">
                <form [formGroup]="group">
                    <div class="card-body p-5">
                        <div class="row justify-content-start">
                            <!-- NOMBRE DE LA CATEGORÍA  -->
                            <input formControlName="id" type="hidden" >
                            <div class="col-lg-4 d-flex flex-column align-items-center border p-3">
                                <div class="form-group w-100">
                                    <label class="lb-input" for="">Nombre de la categoría</label>
                                    <input formControlName="name"
                                        [ngClass]="{'is-invalid': isFieldInvalid('name'), 'is-valid': isFieldValid('name')}"
                                        type="text" class="form-control w-100" placeholder="Ingresa el nombre de la categoría">
                                    <!-- MESSAGES ERRORS  -->
                                    <div class="invalid-feedback">
                                        <span *ngIf="hasFieldError('name','required')">Nombre de la categoría es
                                            necesaria.</span>
                                    </div>

                                </div>
                                <div class="img">
                                    <div class="images d-flex justify-content-center">
                                        <img *ngIf="imageURL" class="img-custom" [src]="imageURL"
                                            alt="category_picture">
                                        <img *ngIf="!imageURL" class="img-custom"
                                            src="assets/images/common/no-image.png" alt="">
                                    </div>
                                </div>
                                <div class="button-select-image mt-2">
                                    <input (change)="handlePickUpImage($event)" #myInput type="file" name="file"
                                        id="file" class="inputfile inputfile-1" />
                                    <label for="file">
                                        <span>Seleccionar imagen</span>
                                    </label>
                                </div>
                            </div>
                            <!-- TERMINA IMAGEN Y NOMBRE DE LA CATEGGORÍA  -->
                            <!-- SUBCATEGORIAS  -->
                            <div class="col-md-8 border p-2">
                                <p *ngIf="typeMenu == 2" class="p-2 info-text">Añade tus subcategorias para
                                    que tus clientes puedan acceder facilmente a los articulos que tienes.
                                </p>
                                <p *ngIf="typeMenu == 3" class="p-2 info-text">Añade tus subcategorias y las secciones para
                                    que tus clientes puedan acceder facilmente a los articulos que tienes.
                                </p>
                                <div class="row m-0">
                                    <div class="col-lg-6 d-flex align-items-center flex-column border col-list">
                                        <span>Subcategorias</span>
                                        <span style="font-size: 90%;" class="my-5"
                                            *ngIf="subcatoryList.length == 0">Agrega una
                                            subcategoría</span>
                                        <mat-selection-list (selectionChange)="selectSubcategory($event)" class="w-100"
                                            #subcategories [multiple]="false">
                                            <mat-list-option class="d-flex"
                                                *ngFor="let subcategory of subcatoryList; let i = index" [value]="i">
                                                <span class="w-100 d-flex justify-content-between">
                                                    {{subcategory.name}}
                                                    <div>
                                                        <i (click)="deleteSubcategory(i)" class="fas fa-trash ml-5"></i>
                                                        <i (click)="openDialogSubcategory(subcategory, i)" class="far fa-edit mx-3"></i>
                                                    </div>
                                                </span>

                                            </mat-list-option>
                                        </mat-selection-list>
                                        <button (click)="openDialogSubcategory()"
                                            class="btn btn btn-outline-primary btn-sm mt-3 w-50 fix">Añadir
                                            <i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="col-lg-6 d-flex align-items-center flex-column border col-list"
                                        *ngIf="subcategories.selectedOptions.selected[0] && typeMenu == 3">
                                        <span>Secciones para
                                            {{subcatoryList[subcategorySelectedId].name}}</span>
                                        <span style="font-size: 90%;" class="my-5"
                                            *ngIf="subcatoryList[subcategorySelectedId].sections.length == 0">Agrega
                                            una
                                            sección</span>

                                        <mat-selection-list class="w-100" #sections [multiple]="false">
                                            <mat-list-option
                                                *ngFor="let section of subcatoryList[subcategorySelectedId].sections; let i = index"
                                                [value]="i">
                                                <span>
                                                    {{section.name}}
                                                    <i (click)="deleteSection(i)" class="fas fa-trash ml-5"></i>
                                                    <i (click)="openDialogSection(section, i)" class="far fa-edit mx-3"></i>
                                                </span>
                                            </mat-list-option>
                                        </mat-selection-list>
                                        <button (click)="openDialogSection()"
                                            class="btn btn btn-outline-secondary btn-sm mt-3 w-50 fix">Añadir
                                            <i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>

                            <!-- TERMINA EL NOMBRE DE LA CATEGORÍA  -->
                            <div class="col-lg-12 d-flex justify-content-end mt-3">
                                <button [disabled]="loadingSaveData" (click)="saveData()"
                                    class="btn btn-primary">
                                    <span>Guardar</span>

                                    <div *ngIf="loadingSaveData" class="spinner-border text-warning" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>