<mat-progress-bar *ngIf="!infoCustomer" mode="indeterminate"></mat-progress-bar>
<!-- Begin Page Content -->
<div class="container-fluid" *ngIf="infoCustomer">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Informacion de:
            <span class="text-info"> {{infoCustomer.customer.name}} </span>
        </h1>
    </div>

    <!-- FILTROS DE FECHA  -->
    <h5>Filtros:</h5>
<!-- 
    <div class="row">


        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Datos del Cliente</h6>
                </div>
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Datos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Nombre </td>
                                <td> {{infoCustomer.customer.name}} </td>
                            </tr>
                            <tr>
                                <td> Telefono </td>
                                <td> {{infoCustomer.customer.phone_number}} </td>
                            </tr>
                            <tr>
                                <td> Reputacion </td>
                                <td> {{infoCustomer.customer.reputation}} </td>
                            </tr>
                            <tr>
                                <td> Primer pedido </td>
                                <td> {{infoCustomer.first_order_date | date}} </td>
                            </tr>
                            <tr>
                                <td> Ultimo pedido </td>
                                <td> {{infoCustomer.last_order_date | date}} </td>
                            </tr>
                            <tr>
                                <td>Total de pedidos </td>
                                <td> {{infoCustomer.total_orders}} </td>
                            </tr>
                            <tr>
                                <td> Pedidos Cancelados</td>
                                <td> {{infoCustomer.total_orders_cancelled}} </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-secondary">Pedidos Entregados</h6>
                </div>
                <div class="card-body">
                    <div class="card" *ngFor="let detalle of infoCustomer.history_orders_delivered"
                        style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{detalle.service}} </h5>
                            <h6 class="card-subtitle mb-2 text-muted" *ngFor="let producto of detalle.details">
                                {{ producto.product_name }} </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Pedidos Rechazados o Cancelados</h6>
                </div>
                <div class="card-body">
                    <div class="card" *ngFor="let detalle of infoCustomer.history_orders_rejected"
                        style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> {{detalle.service}} </h5>
                            <h6 class="card-subtitle mb-2 text-muted" *ngFor="let producto of detalle.details">
                                {{ producto.product_name }} </h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> -->
    <!-- Fin Content Row -->
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field autocomplete="off" class="example-full-width" appearance="fill">
                <mat-label>Desde la fecha</mat-label>
                <input (dateChange)="selectFromDate($event.value)" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field autocomplete="off" class="example-full-width" appearance="fill">
                <mat-label>Hasta la fecha</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <app-card-info [customer]="infoCustomer"></app-card-info>


    <app-history-orders [customer]="infoCustomer"></app-history-orders>


</div>