.content {
    background: white;
    padding: 10px;
}

.table {
    font-size: 90%;
}

.thead {
    color: white;
}

.bt-edit i {
    color: #28a745;
}

.bt-lock i {
    color: #3b5998;
}

.bt-remove i {
    color: red;
}

.tabPading {
    padding-bottom: 15px;
}