<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 text-gray-800">Crea una promocion a tu medida</h1>
    </div>

    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="m-b-0">Descuento parcial o total en el envió de productos</h5>
                    </div>
                    <p class="m-t-15">Absorbe una parte o la totalidad del costo de envió para atraer a mas clientes</p>
                    <div class="m-t-15">
                        <div class="d-flex justify-content-end align-items-center">
                            <div>
                                <button type="button" class="btn btn-primary" routerLink="/marketing/add">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="m-b-0">Descuento al comprar cierta cantidad</h5>
                    </div>
                    <p class="m-t-15">Motiva a los clientes a comprar más, mediante condiciones mínimas de compras</p>
                    <div class="m-t-15">
                        <div class="d-flex justify-content-end align-items-center">
                            <div>
                                <button type="button" class="btn btn-primary" disabled>Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="m-b-0">Producto(s) gratis en la compra </h5>
                    </div>
                    <p class="m-t-15">Incluye artículo(s) gratis sin costo cuando un cliente realiza una compra mínima</p>
                    <div class="m-t-15">
                        <div class="d-flex justify-content-end align-items-center">
                            <div>
                                <button type="button" class="btn btn-primaary" disabled>Seleccionar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="m-b-0">Descuentos en artículos del menú</h5>
                    </div>
                    <p class="m-t-15">Ofrece descuentos en artículos específicos de tu menú para motivar a tus clientes</p>
                    <div class="m-t-15">
                        <div class="d-flex justify-content-end align-items-center">
                            <div>
                                <button type="button" class="btn btn-primary" disabled>Seleccionar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>