<div class="container-fluid justify-content-center row">
    <div class="card col-lg-5 col-md-7">
        <img *ngIf="category.picture === ''; else elsePicture" class="card-img-top" src="http://lorempixel.com/400/400/" alt="category_picture">
        <ng-template #elsePicture>
            <img class="card-img-top" [src]="category.picture" alt="category_picture">
        </ng-template>
        <div class="card-body">
            <h2 class="card-title">{{category.name}}</h2>
            <a class="btn btn-info btn-block" [routerLink]="['/categories', 'modify', category.id]">Modificar</a>
            <button (click)="openDialog()" class="btn btn-outline-danger btn-block" type="button">Eliminar</button>
        </div>
    </div>
</div>
