.bg {
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-size: 170%;
        margin: 50px 0px;
        font-weight: bold;
    }

    .message {
        margin: 25px 0;
        font-size: 140%;
    }

    .btn-round {
        padding: 10px;
        margin: 10px 0px;
        width: 200px;
        border-radius: 20px;
        background: rgb(243, 30, 30);
        color: white;
        cursor: pointer;
        transition-duration: .8s;

        &:hover {
            transition-duration: .3s;
            transform: scale(1.1);
        }
    }
}