<div class="bg">
    <div class="row" *ngIf="!isError && !loadingVerify">
        <div class="col-lg-12 content">
    
            <div class="title">
                <p>¡Se ha verificado su cuenta correctamente!</p>
            </div>
    
            <div class="image">
                <img src="assets/images/auth/undraw_verified.svg" width="260" height="350" alt="Ecommerce" srcset="">
            </div>
    
            <div class="message">
                <p>Ahora puede iniciar sesión con su correo y contraseña</p>
            </div>
    
          <!--   <div class="btns">
                <a routerLink="/auth/" class="btn btn-round">Iniciar sesión</a>
            </div> -->
    
        </div>
    
    
    </div>

    <!-- MESSAGE ERROR  -->
    <div class="row" *ngIf="isError && !loadingVerify && isError.code != 'user_already_verified'">
        <div class="col-lg-12 content">

            <div class="image">
                <img src="assets/images/common/undraw_cancel.svg" width="350" height="400" alt="Ecommerce" srcset="">
            </div>
    
            <div class="title">
                <p>{{isError.message}}</p>
            </div>
            
            
    
            <div class="btns">
                <a routerlink="/auth/" class="btn btn-round">Solicitar nuevo código</a>
            </div>
        </div>
    </div>

    <!-- MESSAGE -> USER ALREADY VERIFIED   -->
    
    <div class="row" *ngIf="isError && !loadingVerify && isError.code == 'user_already_verified'">
        <div class="col-lg-12 content">
    
            <div class="title">
                <p>¡Ya se encuentra verificado!</p>
            </div>
    
            <div class="image">
                <img src="assets/images/auth/undraw_verified.svg" width="260" height="350" alt="Ecommerce" srcset="">
            </div>
    
            <div class="message">
                <p>Ahora puede iniciar sesión con su correo y contraseña</p>
            </div>
    
            <div class="btns">
                <a routerLink="/auth/" class="btn btn-round">Iniciar sesión</a>
            </div>
    
        </div>
    </div>

</div>