<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-flex-start mb-4">
        <div class="col-md-12">
            <nav mat-tab-nav-bar>
                <h1 class="h3 mb-0 text-gray-800">Pagos por Uso</h1>
                <a mat-tab-link routerLink="/forUse/gain" class="padding-Btn" active="activeLink" routerLinkActive="active">GANANCIA </a>
                <a mat-tab-link routerLink="/forUse/activity">ACTIVIDAD </a>
            </nav>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p>Periodo de pago <br>
                <span class="font-weight-bold">20 dic 45</span></p>
        </div>
        <div class="col-md-6">
            <div class="dropdown d-flex align-items-end justify-content">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Descargar XLSX
                        </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Resumen de Pago Semanal</a>
                    <a class="dropdown-item" href="#">Resumen de pago Mensual</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row pagos">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>Pago Total <br>
                        <span class="font-weight-bold">$ 1245</span>
                    </p>
                    <p>Órdenes Completadas <br>
                        <span class="font-weight-bold"> 2K</span>
                    </p>
                    <p>Fecha de pago<br>
                        <span class="font-weight-bold"> Lunes 6 Ene 2020</span>
                    </p>

                    <p class="card-text">Los pagos cubren todos los pedidos entregados al cliente entre las 12 AM los pagos se contabilizan en la cuenta</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>Pago Total <br>
                        <span class="font-weight-bold">$ 1245</span>
                    </p>
                    <p>Órdenes Completadas <br>
                        <span class="font-weight-bold"> 2K</span>
                    </p>
                    <p>Fecha de pago<br>
                        <span class="font-weight-bold"> Lunes 6 Ene 2020</span>
                    </p>

                    <p class="card-text">Los pagos cubren todos los pedidos entregados al cliente entre las 12 AM los pagos se contabilizan en la cuenta</p>

                </div>
            </div>
        </div>
    </div>
</div>