.content {
    background-color: #fffffd !important;
    border-radius: 2px;
    .card {
        padding: 20px;
        border: solid 2px #787D8C;
        .badge {
            width: 7%;
            padding: .5px;
            background-color: #787D8C !important;
        }
        .title {
            font-size: 15px;
            color: #000000;
            font-weight: bold;
        }
        .title-underline {
            width: 70px;
            height: 2px;
            border: 1px solid #ff1515;
            margin-bottom: 8px;
        }
        .data {
            margin-left: 30px;
            padding: 10px 15px;
            width: 90%;
            justify-content: end;
            .tags {
                display: flex;
                padding-top: -2rem !important;
                padding-right: -2rem !important;
                margin-top: -.8rem !important;
                .tag {
                    padding: 2px 6px;
                    width: auto;
                    font-size: 100%;
                    font-weight: bold;
                    cursor: pointer;
                    margin-left: 10px;
                    margin-top: 5px;
                    border: 1px solid #ff1515;
                    color: #ff1515;
                    &.disabled {
                        color: #b6acac;
                        border-color: #b6acac;
                    }
                }
            }
        }
    }
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.example-radio-button {
    margin-left: 0px;
    margin-right: 20px;
}

.example-margin {
    margin: 0 10px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

mat-form-field {
    margin-right: 12px;
}