<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-flex-start">
        <div class="col-md-12">
            <h1 class="h3 text-gray-800">Agregar promoción</h1>
        </div>
    </div>


    <div class="row d-flex justify-content-between">
        <div class=" col-sm-12 col-md-10 col-lg-10 p-t-10">
            <div class="content p-5">

                <form [formGroup]="formPromotions">
                    <div class="card">
                        <span class="badge badge-secondary">Paso 1</span>
                        <span class="title">Establece el periodo para tu promoción </span>
                        <span class="title-underline"></span>

                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <mat-radio-group (change)="changeTypePeriodicity($event.value)" formControlName="is_periodic" class="example-radio-group">
                                <mat-radio-button value="true" class="example-radio-button">
                                    Periódicamente
                                </mat-radio-button>
                                <mat-radio-button value="false" class="example-radio-button">
                                    Rango de fechas
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>


                        <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="typePeriodicity === false || typePeriodicity === true">
                            <div class="data">
                                <div *ngIf="typePeriodicity == true">
                                    <label>Selecciona los días</label>
                                    <div class="row w-100 tags">
                                        <div class="tag" [ngClass]="{'disabled': tagIndexOf(schedule.id) < 0}" (click)="tagsSelect(schedule.id, tagIndexOf(schedule.id) >= 0 )" *ngFor="let schedule of schedules">
                                            {{schedule.name}} <i *ngIf="tagIndexOf(schedule.id) >= 0" class="anticon anticon-close ml-1"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="pt-3">
                                    <label>Selecciona una fecha y hora de inicio y una de finalizacion</label>

                                    <div class="d-flex">
                                        <div>
                                            <mat-form-field color="accent" appearance="fill">
                                                <mat-label>Fecha de inicio</mat-label>
                                                <input matInput [matDatepicker]="picker1" formControlName="from_date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <input type="time" class="form-control ml-2" placeholder="Hora de inicio" formControlName="openingHour" value="09:00:00" />
                                        </div>
                                    </div>


                                    <div class="d-flex">
                                        <div>
                                            <mat-form-field color="accent" appearance="fill">
                                                <mat-label>Fecha de fin</mat-label>
                                                <input matInput [matDatepicker]="picker2" formControlName="to_date">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <input type="time" class="form-control ml-2" formControlName="closedHour" placeholder="Hora de cierre" value="20:00:00" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-accent btn-block" (click)="addCustomSchedule()">Agrega un horario personalizado</button>
                    </div>



                    <div class="card">
                        <span class="badge badge-secondary">Paso 2</span>
                        <span class="title">Define el tipo de aporte para el envió</span>
                        <span class="title-underline"></span>

                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <mat-radio-group (change)="changeTypeDiscountRate($event.value)" class="example-radio-group" formControlName="is_discount_percentage">
                                <mat-radio-button value="false" class="example-radio-button">
                                    Cantidad fja
                                </mat-radio-button>
                                <mat-radio-button value="true" class="example-radio-button">
                                    Porcentaje
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="typeDiscountRate === true || typeDiscountRate === false">
                            <div class="data">
                                <div *ngIf="typeDiscountRate === false">
                                    <label>Elige la cantidad</label>
                                    <select class="form-control form-select" formControlName="discount_amount" style="width: 200px;">
                                        <option selected value="10">$ 10.00</option>
                                        <option value="15">$ 15.00</option>
                                        <option value="20">$ 20.00</option>
                                        <option value="25">$ 25.00</option>
                                        <option value="30">$ 30.00</option>
                                    </select>
                                </div>
                                <div *ngIf="typeDiscountRate === true">
                                    <label>Elige el porcentaje</label>
                                    <select class="form-control form-select" formControlName="discount_amount" style="width: 200px;">
                                        <option value="30">30 %</option>
                                        <option value="50">50 %</option>
                                        <option value="70">70 %</option>
                                        <option value="100">100 %</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <span class="badge badge-secondary">Paso 3</span>
                        <span class="title">Establece tus reglas</span>
                        <span class="title-underline"></span>
                        <span class="p-0">¿Qué tienen que cumplir tus clientes? ¿Qué deben hacer tus clientes?</span>
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="data">
                                <div>
                                    <label>Compra minima</label>
                                    <input type="number" class="form-control" formControlName="minimum_order_price" placeholder="$300" style="width: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="d-flex justify-content-end">
                    <button [disabled]="loadingSave" (click)="createPromotions()" type="submit" class="btn btn-primary">
                        Guardar
                        <div *ngIf="loadingSave" class="spinner-border text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>