<div class="header-close">
    <a (click)="closeDialog()">&times;</a>
</div>
<div class="content">
    
    <div class="content-image d-flex justify-content-center mb-4">
        <img src="assets/images/common/error.svg" width="85" height="85" alt="" srcset="">
    </div>

    <div class="content-title">
        <p>{{title}}.</p>
    </div>

    <div class="message-body">
        <p> {{message}}.</p>
    </div>

    <div class="btns">
        <div (click)="closeDialog()" class="btn btn-confirm bg-secondary">Aceptar</div>
    </div>

</div>