<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 mb-0 text-gray-800 p-b-10">Promociones</h1>
        <button class="btn btn-primary btn-sm" routerLink="/marketing/typesPromotions">Agregar promocion</button>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12 p-t-15">

            <!-- PRELOADER -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingPromotions">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>


            <div class="col-md-12 col-lg-12" *ngIf="!loadingPromotions && promotions.length > 0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tipo de promoción</th>
                                <th>Rango de fechas</th>
                                <th>Tipo de descuento</th>
                                <th>Cantidad de descuento</th>
                                <th>Periodo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let promotion of promotions">
                                <td>Descuento en envío</td>
                                <td>{{promotion.from_date | date }} == {{promotion.to_date | date }} </td>
                                <td>
                                    <span *ngIf="promotion.rule.is_discount_percentage == true">Porcentaje</span>
                                    <span *ngIf="promotion.rule.is_discount_percentage != true">Cantidad fija</span>
                                </td>
                                <td>
                                    <span *ngIf="promotion.rule.is_discount_percentage == true">  {{promotion.rule.discount_amount}}  %</span>
                                    <span *ngIf="promotion.rule.is_discount_percentage != true"> $ {{promotion.rule.discount_amount}} </span>
                                </td>
                                <td>
                                    <span *ngIf="promotion.rule.is_periodic == true">Periodica</span>
                                    <span *ngIf="promotion.rule.is_periodic == false">No periodica</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary" routerLink="/marketing/{{promotion.id}}/edit">Editar</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Component no data -->
            <app-no-found-data *ngIf="!loadingPromotions && promotions.length == 0"  [message]="'No hay promociones que mostrar'"></app-no-found-data>
            <!-- End component no data -->
        </div>
    </div>
</div>