<div class="container-fluid">
    <div id="card-view">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="media">
                                <!-- <div class="avatar avatar-image rounded">
                                    <img src="assets/images/others/thumb-1.jpg" alt="">
                                </div> -->
                                <div class="m-l-10">
                                    <h5 class="m-b-0">Descuento en el costo del envio o envio gratuito</h5>
                                    <!-- <span class="text-muted font-size-13">31 Tasks</span> -->
                                </div>
                            </div>
                            <!-- <div class="dropdown dropdown-animated scale-left">
                                <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                    <i class="anticon anticon-ellipsis"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                    <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                    <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                </div>
                            </div> -->
                        </div>
                        <p class="m-t-25">European minnow priapumfish mosshead warbonnet shrimpfish.</p>
                        <!-- <div class="m-t-30">
                            <div class="d-flex justify-content-between">
                                <span class="font-weight-semibold">Progress</span>
                                <span class="font-weight-semibold">100%</span>
                            </div>
                            <div class="progress progress-sm m-t-10">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                            </div>
                        </div> -->
                        <div class="m-t-20">
                            <div class="d-flex justify-content-end align-items-center">
                                <div>
                                    <!-- <app-add-promotions></app-add-promotions> -->
                                    <button type="button" class="btn btn-secondary" routerLink="/marketing/addPromotions">Seleccionar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="media">
                                <div class="avatar avatar-image rounded">
                                    <img src="assets/images/others/thumb-2.jpg" alt="">
                                </div>
                                <div class="m-l-10">
                                    <h5 class="m-b-0">Mill Real Estate</h5>
                                    <span class="text-muted font-size-13">56 Tasks</span>
                                </div>
                            </div>
                            <div class="dropdown dropdown-animated scale-left">
                                <a class="text-gray font-size-18" href="javascript:void(0);" data-toggle="dropdown">
                                    <i class="anticon anticon-ellipsis"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-eye"></i>
                                                <span class="m-l-10">View</span>
                                            </button>
                                    <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-edit"></i>
                                                <span class="m-l-10">Edit</span>
                                            </button>
                                    <button class="dropdown-item" type="button">
                                                <i class="anticon anticon-delete"></i>
                                                <span class="m-l-10">Delete</span>
                                            </button>
                                </div>
                            </div>
                        </div>
                        <p class="m-t-25">Efficiently unleash cross-media information without cross-media value.</p>
                        <div class="m-t-30">
                            <div class="d-flex justify-content-between">
                                <span class="font-weight-semibold">Progress</span>
                                <span class="font-weight-semibold">100%</span>
                            </div>
                            <div class="progress progress-sm m-t-10">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="m-t-20">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <button type="button" class="btn btn-secondary" routerLink="/marketing/add2">Seleccionar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>