<div class="row">
    <div class="col-md-12 col-lg-12 p-t-15">
        <div class="row">


            <!-- Ordering -->
            <div class="col-md-3 col-lg-3 col-sm-12 p-b-10">
                <select class="form-control select-form" (change)="orderBy($event.target.value)">
                    <option>Ordenar por:</option>
                    <option value="name">Ordenar de A a Z</option>
                    <option value="-name">Ordenar de Z a A</option>
                    <option value="created">Ordenar de reciente a antiguo </option>
                    <option value="-created">Ordenar de antiguo a reciente</option>
                </select>
            </div>
            <!-- End Ordering -->


            <!-- Show view -->
            <div class="col-md-3 col-lg-3 col-sm-12 p-b-10">
                <select (change)="showList($event.target.value)" class="form-control select-form">
                        <option>Ver por:</option>
                        <option value="1">Disponibles</option>
                        <option value="2">Bloqueados</option>
                    </select>
            </div>
            <!-- End show view by -->


            <div class="col-md-3 col-lg-3"></div>


            <!-- Search by-->
            <div class="col-lg-3">
                <div class="input-group">
                    <input #searchInput (keyup.enter)="searchBy(searchInput.value)" type="text" class="form-control fm-size" placeholder="Buscar por nombre..." aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-prepend cursor" (click)="searchBy(searchInput.value)">
                        <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                    </div>
                </div>
            </div>
            <!-- End search by-->
        </div>
    </div>



    <div class="col-md-12 col-lg-12 p-t-15">


        <div class="col-md-12 col-lg-12">
            <button class="btn btn-success btn-sm" *ngIf="categories.length > 0" (click)="openOrdering()">Ordenar</button>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th *ngIf="typeMenu >= 2" scope="col">Imagen</th>
                            <th scope="col">Nombre </th>
                            <th *ngIf="typeMenu >= 2" scope="col">Subcategorias</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories ">

                            <td *ngIf="typeMenu >= 2">
                                <img class="img-category img-profile rounded-circle" *ngIf="category.picture" [src]="category.picture" alt="category_img">
                                <img class="img-category img-profile rounded-circle" *ngIf="category.picture === null" src="assets/img/Bolsa.png" alt="category_img">
                            </td>

                            <td> {{category.name}} </td>
                            <td *ngIf="typeMenu >= 2">
                                <p class="p-0 m-0 d-flex flex-column" *ngFor="let subcategory of category.subcategories">
                                    <span>-{{subcategory.name}}</span>
                                    <!-- <span class="ml-2" *ngFor="let section of subcategory.sections">Sec: {{section.name}}</span> -->
                                </p>
                            </td>
                            <td class="text-center btn-edit">
                                <button *ngIf="params.status == 1" class="btn btn-edit" (click)="editCategory(category)">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button *ngIf="params.status == 1" class="btn btn-lock" (click)="deleteCategory(category.id, category.name)">
                                    <i class="fas fa-lock fa-primary"></i>
                                </button>
                                <button *ngIf="params.status == 2" class="btn bt-active" (click)="activeCategory(category)">
                                    <i class="fas fa-lock-open"></i>
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Component no data categories -->
        <app-no-found-data *ngIf="categories && categories.length === 0"  [message]="'No hay categorías que mostrar'"></app-no-found-data>
    </div>
</div>