<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <h1 class="h3 mb-0 text-gray-800">Nuevos pedidos </h1>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12 p-t-15">
            <div class="row">


                <!-- Ordering -->
                <div class="col-md-3 col-lg-3 col-sm-12 p-b-10">
                    <select class="form-control select-form" (change)="orderingOrders($event.target.value)">
                        <option value="">Ordenar por:</option>
                        <option value="order_date">Fecha de pedido</option>
                        <option value="date_delivered_order">Fecha de aceptacion</option>
                </select>
                </div>
                <!-- End ordering -->



                <!-- Reload data -->
                <div class="col-md-6 col-lg-6 p-b-10">
                    <button (click)="getOrders()" class="btn btn-info btn-sm">Recargar</button>
                </div>
                <!-- End reload data -->


                <!-- Search by -->
                <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="input-group">
                        <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="searchText" type="text " class="form-control fm-size " placeholder="Buscar por nombre " aria-label="Username " aria-describedby="basic-addon1 ">
                        <div class="input-group-prepend cursor " (click)="searchBy(searchInput.value) ">
                            <span *ngIf="!params.search" class="input-group-text " id="basic-addon1 ">
                        <i class="fas fa-search "></i>
                    </span>
                            <span *ngIf="params.search != ''" (click)="clearSearch()" class="input-group-text cursor" id="basic-addon2">
                        <i class="fas fa-times-circle"></i>
                    </span>
                        </div>
                    </div>
                </div>
                <!-- End search by  -->
            </div>
        </div>





        <div class="col-md-12 col-lg-12 p-t-15">

            <!-- Preloader -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingOrders">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- End Preloader -->



            <div class="col-md-12 col-lg-12" *ngIf="!loadingOrders && orders.length > 0">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Código </th>
                                <th>Fecha del pedido </th>
                                <th>Cliente</th>
                                <th>Pedido</th>
                                <th>Indicaciones</th>
                                <th>Lugar de entrega</th>
                                <th>Total de venta</th>
                                <th>Estatus </th>
                                <th>Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders">
                                <td>{{order.qr_code}}</td>
                                <td>
                                    {{order.order_date | date:'medium'}}
                                </td>
                                <td>{{order.customer.name}}</td>
                                <td>
                                    <div class="products-details">
                                        <span *ngFor="let detail of order.details">
                                        -x{{detail.quantity}} {{detail.product_name}}
                                    </span>
                                    </div>

                                </td>
                                <td>
                                    <span>{{order.indications}}</span>
                                </td>
                                <td>
                                    {{order.to_address.full_address}}
                                </td>
                                <td>${{order.order_price | number : '1.2-2'}}</td>
                                <td>
                                    {{order.order_status.name}}
                                </td>
                                <td>
                                    <button [disabled]="loaderAcceptOrder" (click)="acceptOrder(order)" style="font-size: 90%;" class="btn btn-success">Aceptar</button>
                                    <br>
                                    <br>
                                    <button (click)="openDialogRejectOrder(order.id)" style="font-size: 90%;" class="btn btn-danger">Rechazar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Paginator  -->
            <div class="col-lg-12 d-flex justify-content-end" *ngIf="!loadingOrders && orders.length > 0">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getPages($event)">
                </mat-paginator>
            </div>
            <!-- End paginator -->


            <!-- TERMINA LA TABLA  -->
            <app-no-found-data *ngIf="!loadingOrders && orders.length == 0"  >
            </app-no-found-data>
        </div>
    </div>
</div>