<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3>Zonas</h3>
    </div>
    <div class="card-body">
        <span *ngIf="zones.length == 0">No hay zonas que mostrar</span>
        <div *ngFor="let zone of zones" class="card shadow p-2 mt-1">
            <p><span class="title">Nombre</span>: {{zone.name}}</p>
            <p><span class="title">Descripción</span>: {{zone.description}}</p>
            <p><span class="title">Tipo</span>: {{zone.type}}</p>
            <div class="btns">
                <!-- Cuando la zona esta desactivdada  -->
                <div class="inactive" *ngIf="zone.status == 2">
                    <span>Zona desactivada</span>
                    <button (click)="activeZone(zone.id)" class="btn btn-success btn-sm mx-2">Activar</button>
                </div>
                <!-- Cuando la zona esta activada  -->
                <div class="active" *ngIf="zone.status == 1">
                    <button (click)="deleteZone(zone.id)" class="btn btn-danger btn-sm">Desactivar</button>
                    <button (click)="editZone(zone)" class="btn btn-warning btn-sm mx-2">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>