<div class="row">
    <div class="col-md-12 col-lg-12 p-t-10">
        <div class="row">


            <!-- Ordering -->
            <div class="col-md-3 col-lg-3 col-sm-12 p-b-10">
                <select class="form-control select-form" (change)="orderBy($event.target.value)">
                        <option>Ordenar por:</option>
                        <option value="name">Ordenar de A a Z</option>
                        <option value="-name">Ordenar de Z a A</option>
                        <option value="-created">Ordenar de reciente a antiguo</option>
                        <option value="created">Ordenar de antiguo a reciente</option>
                    </select>
            </div>
            <!-- End Ordering -->


            <!-- Show view by -->
            <div class="col-md-3 col-lg-3 col-sm-12 p-b-10">
                <select class="form-control select-form" [(ngModel)]="params.status" (change)="showList($event.target.value)">
                        <option>Ver por:</option>
                        <option value="1">Disponibles</option>
                        <option value="2">Bloqueados </option>
                    </select>
            </div>
            <!-- End show view by -->


            <div class="col-lg-3"></div>


            <!-- Search products -->
            <div class="col-md-3 col-lg-3 col-sm-12 ">
                <div class="input-group">
                    <input #searchInput (keyup.enter)="searchBy(searchInput.value)" [(ngModel)]="searchText" type="text " class="form-control fm-size " placeholder="Buscar por nombre " aria-label="Username " aria-describedby="basic-addon1 ">
                    <div class="input-group-prepend cursor " (click)="searchBy(searchInput.value) ">
                        <span *ngIf="!params.search" class="input-group-text " id="basic-addon1 ">
                    <i class="fas fa-search "></i>
                </span>
                        <span *ngIf="params.search != ''" (click)="clearSearch()" class="input-group-text cursor" id="basic-addon2">
                    <i class="fas fa-times-circle"></i>
                </span>
                    </div>
                </div>
            </div>
            <!-- End Search products -->


        </div>
    </div>




    <div class="col-md-12 col-lg-12 p-t-15">


        <!-- Preloader -->
        <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingProduct">
            <div class="spinner-border text-primary my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- End Preloader -->


        <div class="col-md-12 col-lg-12" *ngIf="!loadingProduct && products.length > 0">
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr class="">
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th *ngIf="typeMenu >= 2">Subcategoría</th>
                            <th style="width: 6%;">Precio</th>
                            <th style="width: 8%;">Disponibilidad</th>
                            <th class="text-center" style="width: 10%;">Acciones</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr *ngFor="let product of products ">
                            <td class="text-center">
                                <img class="img-category img-profile rounded-circle" *ngIf="product.picture" [src]="product.picture" alt="category_img">
                                <img class="img-category img-profile rounded-circle" *ngIf="product.picture === null" src="assets/img/bolsa.svg" alt="category_img">
                            </td>
                            <td> {{product.name}}</td>
                            <td> {{product.category.name}}</td>
                            <td *ngIf="typeMenu >= 2"> {{product.subcategory?.name}}</td>
                            <td> $ {{product.price }}</td>
                            <td class="text-center">
                                <small>{{product.is_available ? 'con stock': 'agotado'}}</small><br>
                                <mat-slide-toggle (change)="changeAvailable(product)" [(ngModel)]="product.is_available"></mat-slide-toggle>
                            </td>


                            <td class="text-center">
                                <button *ngIf="params.status == 1" class="btn btn-info btn-sm m-5" style="width: 90%;" routerLink="/products/modify/{{product.id}}">Editar</button>
                                <button *ngIf="params.status == 1" class="btn btn-primary btn-sm" style="width: 90%;" (click)="deleteCategory(product)">Bloquear</button>
                                <button *ngIf="params.status == 2" class="btn btn-info btn-sm" style="width: 90%;" (click)="unLock(product)">Activar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Paginator  -->
        <div class="col-lg-12 d-flex justify-content-end"  *ngIf="!loadingProduct && products.length > 0">
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getPage($event)"></mat-paginator>
        </div>
        <!-- End paginator -->


        <!-- Component no data -->
        <app-no-found-data *ngIf="products && products.length === 0"  [message]="'No hay productos que mostrar'">
        </app-no-found-data>
        <!-- End component no data -->
    </div>
</div>