<div class="container-fluid mt-3">
    <div>
        <div class="filters mb-3">
            <div class="row d-flex justify-content-end">

                <!-- Ordering category -->
                <div class="col-lg-3">
                    <select class="form-control select-form" (change)="orderBy($event.target.value)">
                        <option>Ordenar por:</option>
                        <option value="-name">Nombre</option>
                        <option value="-created">Fecha de creación</option>
                    </select>
                </div>
                <!-- End ordering category -->

                <div class="col-lg-6">
                </div>

                <!-- Search categories -->
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <input #searchInput (keyup.enter)="searchBy(searchInput.value)" type="text"
                            class="form-control fm-size" placeholder="Buscar por nombre" aria-label="Username"
                            aria-describedby="basic-addon1">
                        <div class="input-group-prepend cursor" (click)="searchBy(searchInput.value)">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End search categories -->
            </div>
        </div>


        <div class="row" class="content">
            <!-- Paginator  -->
            <div class="col-lg-12 d-flex justify-content-end">
                <mat-paginator [disabled]="!categories" [length]="length" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getPage($event)"></mat-paginator>
            </div>
            <!-- End paginator  -->

            <!-- Preloader  -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="!categories">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Cargando categorías...</span>
                </div>
            </div>
            <!-- End Preloader  -->


            <!-- Table categories disabled -->
            <div class="col-md-12" *ngIf="categories && categories.length > 0">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th *ngIf="typeMenu >= 2" scope="col">Imagen</th>
                            <th scope="col">Nombre </th>
                            <th *ngIf="typeMenu >= 2" scope="col">Subcategorias</th>
                            <th scope="col" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let category of categories ">
                            <td *ngIf="typeMenu >= 2">
                                <img class="img-category img-profile rounded-circle" *ngIf="category.picture"
                                    [src]="category.picture" alt="category_img">
                                <img class="img-category img-profile rounded-circle" *ngIf="category.picture === null"
                                    src="assets/img/Bolsa.png" alt="category_img">
                            </td>
                            <td> {{category.name}} </td>
                            <td *ngIf="typeMenu >= 2">
                                <span *ngFor="let subcategory of category.subcategories">-{{subcategory.name}}</span>
                            </td>
                            <td class="text-center">
                                <button class="btn bt-active" (click)="activeCategory(category)">
                                    <i class="fas fa-lock-open"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <app-no-found-data *ngIf="categories && categories.length === 0"
                 [message]="'No hay categorías que mostrar'"></app-no-found-data>
            <!-- End table categories disabled -->
        </div>
    </div>
</div>