<!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner ">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown" [routerLink]="['/dashboard']" routerLinkActive="active">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-home"></i>
                    </span>
                    <span class="title">Inicio</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Pedidos</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li routerLink="/orders/news" routerLinkActive="active">
                        <a>Nuevos</a>
                    </li>
                    <li routerLink="/orders/process" routerLinkActive="active">
                        <a>En proceso</a>
                    </li>
                    <li routerLink="/orders/delivered" routerLinkActive="active">
                        <a>Entregadas</a>
                    </li>
                    <li routerLink="/orders/cancelled" routerLinkActive="active">
                        <a>Ignoradas</a>
                    </li>
                </ul>
            </li>

            <!-- ====  -->
            <li *ngIf="merchant.has_branches" routerLink="/branches" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-apartment"></i>
                    </span>
                    <span class="title">Sucursales</span>
                </a>
            </li>
            <!-- ====  -->
            <li routerLink="/categories" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-tags"></i>
                    </span>
                    <span class="title">Categorías</span>
                </a>
            </li>
            <!-- ====  -->
            <li routerLink="/products" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-ordered-list"></i>
                    </span>
                    <span class="title">Productos</span>
                </a>
            </li>

            <!-- ====  -->
            <li routerLink="/marketing" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-notification"></i>
                        <!-- <i class="anticon anticon-line-chart"></i> -->
                        <!-- <i class="anticon <i class="anticon anticon-line-chart"></i> line-chart"></i> -->
                    </span>
                    <span class="title">Marketing</span>
                </a>
            </li>

            <!-- ====  -->
            <!-- <li routerLink="/reviews" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-star"></i>
                    </span>
                    <span class="title">Reseñas</span>
                </a>
            </li> -->

            <!-- ====  -->
            <li routerLink="/statement" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-credit-card"></i>
                    </span>
                    <span class="title">Resumén</span>
                </a>
            </li>

            <!-- ====  -->
            <li routerLink="/profile" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-setting"></i>
                    </span>
                    <span class="title">Configuración</span>
                </a>
            </li>

            <!-- ENTREGADO POR LA TIENDA  -->

            <hr *ngIf="merchant.is_delivery_by_store">
            <!-- <span style="font-size: 90%; margin-left: 15px;">Gestión de envíos</span> -->
            <!-- ====  -->
            <li *ngIf="merchant.is_delivery_by_store" routerLink="/delivery" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-car"></i>
                    </span>
                    <span class="title">Repartidores</span>
                </a>
            </li>

            <!-- ====  -->
            <li *ngIf="merchant.is_delivery_by_store" routerLink="/zones" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">

                        <i class="anticon anticon-environment"></i>

                    </span>
                    <span class="title">Zonas de entregas</span>
                </a>
            </li>

            <li *ngIf="merchant.is_delivery_by_store" routerLink="/delivery-config" routerLinkActive="active" class="nav-item dropdown">
                <a>
                    <span class="icon-holder">
                        <i class="anticon anticon-deployment-unit"></i>
                    </span>
                    <span class="title">Configurar entregas</span>
                </a>
            </li>


        </ul>
    </div>
</div>
<!-- Side Nav END -->