<!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner ">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown" [routerLink]="['/dashboard']" routerLinkActive="active">
                <a>
                    <span class="icon-holder">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="title">Inicio</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="title">Pedidos</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li routerLink="/orders/news" routerLinkActive="active">
                        <a>Nuevos</a>
                    </li>
                    <li routerLink="/orders/process" routerLinkActive="active">
                        <a>En proceso</a>
                    </li>
                    <li routerLink="/orders/delivered" routerLinkActive="active">
                        <a>Entregadas</a>
                    </li>
                    <li routerLink="/orders/cancelled" routerLinkActive="active">
                        <a>Ignoradas</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->