<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard" routerLinkActive="active">
        <div>
        </div>
        <p> {{ merchant.merchant_name |slice:0:0 |lowercase }} </p>
        <div style="font-family: 'slant'; font-size: 150%;" class="sidebar-brand-text mx-3">SCOOTER</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Nav Item - Dashboard Collapso Menu -->
    <li class="nav-item cursor" routerLink="/dashboard" routerLinkActive="active">
        <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">



    <!-- Heading -->
    <div class="sidebar-heading">
        Gestión
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Pedidos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Pedidos:</h6>
                <a class="collapse-item cursor" routerLink="/orders/news" routerLinkActive="active">Pedidos nuevos</a>
                <a class="collapse-item cursor" routerLink="/orders/process" routerLinkActive="active">Pedidos en
                    proceso</a>
                <a class="collapse-item" routerLink="/orders/delivered" routerLinkActive="active">Pedidos entregados</a>
                <a class="collapse-item" routerLink="/orders/cancelled" routerLinkActive="active">Pedidos ignorados</a>
            </div>
        </div>
    </li>
    <!-- Fin Nav Item - Pages Collapse Menu -->




    <!-- Nav Item - Map the traicing Collapse Menu -->
    <li class="nav-item" routerLink="/categories" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-tag"></i>
            <span>Categorías</span>
        </a>
    </li>
    <!-- Nav Item - Vehicles Collapse Menu -->
    <li class="nav-item" routerLink="/products" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-box"></i>
            <span>Productos</span>
        </a>
    </li>
    <!-- Fin Nav Item - Map the traicing Collapse Menu -->


    <!-- Nav Item - Delivery Collapse Menu -->
    <!-- <li class="nav-item" routerLink="/delivery/list" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-car"></i>
            <span>Repartidores</span>
        </a>
    </li> -->
    <!-- Nav Item - Fin the Delivery Collapse Menu -->


    <!-- Nav Item - Clients Collapse Menu -->
    <!-- <li class="nav-item" routerLink="/clients" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-users"></i>
            <span>Clientes</span>
        </a>
    </li> -->
    <!-- Nav Item - Fin the Clients Collapse Menu  -->



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Informes
    </div>


    <li class="nav-item" routerLink="/profile" routerLinkActive="active">
        <a class="nav-link collapsed">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuración</span>
        </a>

    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>