<div class="container-fluid">


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Descuentos al comprar cierta cantidad</h1>
    </div>
    <p>Ofrece descuentos a tus clientes cuando gasten mas dinero para que esten satisfechos </p>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h5>Elige a tus destinatarios</h5>
            <p>Elige que clientes que vean tu campaña</p>

            <mat-radio-group>
                <mat-radio-button class="example-radio-button">
                    Solo para clientes nuevos
                </mat-radio-button>

                <mat-radio-button class="example-radio-button">
                    Todos los clientes
                </mat-radio-button>
            </mat-radio-group>


        </div>
    </div>



</div>