<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Repartidores</h1>
        <button class="btn btn-secondary btn-sm" (click)="dialogAddDelivery()">Agregar</button>
    </div>

    <div>
        <div class="filters mb-3">

            <div class="row d-flex justify-content-end">
                <div class="col-md-12 tabPading">
                    <label for="">Mostrar</label>
                    <select (change)="showList($event.target.value)" class="form-control w-50">

                        <option value="1">Disponibles</option>
                        <option value="2">Bloqueados</option>

                    </select>
                </div>


                <!-- Orderin in the tables for delivery -->
                <div class="col-lg-3">
                    <select class="form-control select-form">
                        <option value="">Ordenar por:</option>
                        <option value="-name">Nombre</option>
                        <option value="-last_name">Apellidos</option>
                        <option value="-reputation">Reputacion</option>
                    </select>
                </div>
                <!-- Fin Orderin in the tables for delivery -->

                <div class="col-lg-6">
                </div>

                <!-- Filter by search vehicles -->
                <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <input #searchInput (keyup.enter)="search(searchInput.value)" type="text" class="form-control fm-size" placeholder="Buscar por nombre"
                            aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend cursor">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Fin Filter by search vehicles -->
            </div>
        </div>
        <!-- Fin filter  -->

        <div class="row" class="content">
            <!-- PAGINADOR  -->
            <div class="col-lg-12 d-flex justify-content-end">
                <mat-paginator [disabled]="loadingDelivery || deliverys.length==0" [length]="length"
                    [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                </mat-paginator>
            </div>
            <!-- TERMINA EL PAGINADOR  -->

            <!-- Preloader  -->
            <div class="col-lg-12 d-flex justify-content-center" *ngIf="loadingDelivery">
                <div class="spinner-border text-primary my-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Fin Preloader  -->

            <!-- No data  -->
            <app-no-found-data *ngIf="!loadingDelivery && deliverys.length == 0"
                [message]="'No se encontraron repartidores disponibles'"></app-no-found-data>


            <!-- Table the vehicles  -->
            <div class="col-md-12" *ngIf="!loadingDelivery && deliverys.length > 0">
                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos </th>
                            <th scope="col">Teléfono </th>
                            <th scope="col">Placas </th>
                            <th scope="col">Modelo </th>
                            <th scope="col">Año</th>
                            <th scope="col">Color</th>
                            <th scope="col">Vehiculo</th>
                            <th scope="col">Reputación</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let delivery of deliverys ">
                            <td> {{delivery.name}} </td>
                            <td> {{delivery.last_name}}</td>
                            <td> {{delivery.phone_number}}</td>
                            <td> {{delivery.vehicle_plate}}</td>
                            <td> {{delivery.vehicle_model}} </td>
                            <td> {{delivery.vehicle_year}} </td>
                            <td> {{delivery.vehicle_color}} </td>
                            <td> {{delivery.vehicle_type}} </td>
                            <td> {{delivery.reputation}} </td>
                            <td>{{delivery.delivery_status}} </td>
                            <td>
                                <button *ngIf="params.status == 1" (click)="disabledDelivery(delivery.id)" class="btn btn-sm btn-danger mr-2">Bloquear</button>
                                <button *ngIf="params.status == 2" (click)="enableDelivery(delivery.id)" class="btn btn-sm btn-info mr-2">Desbloquear</button>
                                <button *ngIf="params.status == 1" (click)="dialogAddDelivery(delivery)"
                                    class="btn btn-sm btn-info">Editar</button>
                            </td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>