<div class="container-fluid">
    <div class="page-header no-gutters has-tab">
        <h1 class="h3 mb-0 text-gray-800">Marketing</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/marketing/promotions" routerLinkActive="active" data-toggle="tab">Promociones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/marketing/campaing" routerLinkActive="active" data-toggle="tab">Campañas</a>
            </li>
        </ul>
    </div>

    <div class="tab-content m-t-15">
        <router-outlet></router-outlet>
    </div>
</div>